.main {
    height: calc(100vh - 20px); /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100 - 20px);
}


.map {
    width: 100%;
    flex: 1 1 auto;
    height: 70%;
}

#graph {
    height: 30%;
}